<nav class="navbar navbar-inverse navbar-toggleable-md fixed-top bg-faded">
  <!-- <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"> </span>
  </button> -->
  <a class="navbar-brand" [routerLink]="['/']">Vishakha Sehgal</a>
  <!-- <div class="collapse navbar-collaspe" [ngbCollapse]= "isCollapsed"> -->
    <ul class="nav navbar-nav">
      <li class="navbar-item">
        <a [routerLink]="['/']">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="navbar-item">
          <a [routerLink]="['/academics']">Academics</a>
        </li>
      <li class="navbar-item">
        <a [routerLink]="['/involvement']">Involvement</a>
      </li>
      <li class="navbar-item">
          <a [routerLink]="['/hobbies']">Hobbies</a>
        </li>
    </ul>
  <!-- </div> -->
</nav>

<router-outlet></router-outlet>